<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="Acceder como:" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="submit" routerLink = "loginCliente" routerLinkActive= "active" class="fadeIn fourth" value="cliente">
        <input type="submit" routerLink = "loginVendedor" routerLinkActive= "active" class="fadeIn fourth" value="vendedor">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter" style="background-color: deepskyblue;">
        
      </div>
  
    </div>
  </div>

